---
layout: default
title: The Tasting Panel
section_id: home
description: >-
  The Tasting Panel conducts tasting panels! We convene (typically) 200
  consumers in relaxed home environments where we offer them blind tastings of
  products. They are asked to fill out a questionnaire, which is carefully
  designed by our expert team.
ogimage: home.jpg
published: true
---

{% include slider.html %}



<div class='full panel-blue no-padding'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='call-to-action light'>
      <div class='medium-9 large-9 columns'>
        <p class='left'>Let us help you create world class products! Contact us to book a tasting panel.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='contact-us.html'>Contact Us</a>
      </div>
    </div>
  </div>
</div>

<div class='medium-12 large-12 columns white'>
  <div class='row'>
    <div class='special-title-left'>
      <div class='spacing'></div>
          <h2>About us</h2>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  <div class='row main_content'>
    <div class='medium-8 large-8 columns'>
      <p>Welcome to The Tasting Panel, sister company to Vibrand Research, which is known for its innovative but practical approach to corporate market research. </p><p>

The Tasting Panel specializes in quantitative FMCG product testing with consumers. Simply put, we collect & analyse data on your consumer’s tastes, opinions and preferences to provide statistically based recommendations and valuable, actionable insights into your product offerings.</p><p>

Our core disciplines, rooted in quantitative methodologies are</p><p>
      <ul><li><strong>Sensory Analysis</strong> - a scientific discipline that applies principles of experimental design and statistical analysis to the use of human senses (specifically sight, smell and / or taste) for the purposes of evaluating consumer products. </li>
        <li><strong>Usage Analysis</strong> – statistically assessing purchase and consumption / usage frequency, key influencers in the product selection process, as well as usage occasions and timings</li>
        </ul></p><p>

</div>
</div>
<div class='row main_content'>
  <div class='medium-6 large-6 columns'>
    Using the above we expertly offer advice on</p><p><ul>
    <li><strong>Packaging, Branding & Concept Testing</strong> – as an alternative or add-on to traditional qualitative focus groups, we use our statistical methodologies to provide guidance on pack design and new concepts</li>
    <li><strong>Product Formulation Testing</strong> – whether choosing which new variant to launch, understanding how your product performs relative to competitors, assessing changes to existing products or looking for specific recommendations on how to improve your current offering</li>
    <li><strong>Product Performance Testing</strong> – assessing how well your product delivers on consumer expectations and needs, as well as your claims, and incorporating relativity to competitors if required</li>
    <li><strong>Preference Claims</strong> – using a statistically significant sample and quantitative methodology we can provide you with credible preference claims as a powerful complement to your marketing mix</li>
    <li><strong>Product Usage</strong> – understanding how, when, where and how often consumers use your product, as well as how they decide to buy</li>
    </ul>
</p>
  <p>To answer any <a href="{{site.url}}/typical-challenges.html">product related questions</a>  you may have, The Tasting Panel has a tailormade solution for you.</p>
    </div>
    <div class='medium-6 large-6 columns'>
     <p>{% include slider-about.html %}</p>
  </div>
</div>
</div>
